/* Here is your custom css styles. */
@font-face{
    font-family: 'NotoSerifSC-Medium';
    src: url('../font/Noto_Serif_SC/NotoSerifSC-Medium.otf');
}

body{
    font-family: 'NotoSerifSC-Medium';
    /* font-size: 1.2em; */
}