/* Here is your custom css styles. */
@font-face{
    font-family: 'NotoSerifSC-Light';
    src: url('../font/NotoSerifSC-Light.otf');
}

body{
    font-family: 'NotoSerifSC-Light';
    font-size: 1.2em;
}