/* Here is your custom css styles. */
@font-face{
    font-family: 'LXGWWenKaiMono-Light';
    src: url('../font/LXGWWenKaiMono-Light.ttf');
}

body{
    font-family: 'LXGWWenKaiMono-Light';
    /* font-size: 1.2em; */
}